<!DOCTYPE html>
<html lang="en">
	<head>
		<title>TunisSight - website
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block css %}
			<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

			<link rel="stylesheet" href="{{asset('client/css/animate.css')}}">
			<link rel="stylesheet" href="{{asset('client/css/owl.carousel.min.css')}}">
			<link rel="stylesheet" href="{{asset('client/css/owl.theme.default.min.css')}}">
			<link rel="stylesheet" href="{{asset('client/css/magnific-popup.css')}}">

			<link rel="stylesheet" href="{{asset('client/css/bootstrap-datepicker.css')}}">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

			<link rel="stylesheet" href="{{asset('client/css/flaticon.css')}}">
			<link rel="stylesheet" href="{{asset('client/css/style.css')}}">

		{% endblock %}
		<style>

			/* css pour le banner */
			span {
				color: #53d2dc !important
			}
			.navbar-nav .nav-item.active {
				transform: scale(1.2);
				transition: transform 0.3s ease;
			}

			.navbar-nav .nav-item.active .nav-link {
				color: #53d2dc !important;
			}
			.subheading {
				font-size: 50px !important
			}

			.hero-wrap {
				position: relative;
			}

			.hero-wrap::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0, 0, 0, 0); !important;
				z-index: 1;

			}

			/*css pour liste des activités*/


			.project-wrap h3 {
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 10px;
			}
			.price {
				color: black !important
			}
			/* Buttons */

			button {
				appearance: none;
				background-color: transparent;
				border: 0.125em solid #1A1A1A;
				border-radius: 0.9375em;
				box-sizing: border-box;
				color: #3B3B3B;
				cursor: pointer;
				display: inline-block;
				font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
				font-size: 14px;
				font-weight: 600;
				line-height: 1.2;
				margin: 0;
				min-height: 2.5em;
				min-width: 0;
				outline: none;
				padding: 0.5em 1.5em;
				text-align: center;
				text-decoration: none;
				transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
				user-select: none;
				-webkit-user-select: none;
				touch-action: manipulation;
				will-change: transform;
			}


			button:disabled {
				pointer-events: none;
			}

			button:hover {
				color: #fff;
				background-color: #1A1A1A;
				box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
				transform: translateY(-2px);
			}

			button:active {
				box-shadow: none;
				transform: translateY(0);
			}
			#btn-reserver:hover {
				background-color: #53d2dc;
			}


			.navbar {
				transition: background-color 0.3s ease;
			}

			.navbar.scrolled {
				background-color: rgba(0, 0, 0, 0.7) !important;
				height: 80px !important
			}
			.navbar.scrolled .nav-link {
				color: white !important;
			}

			.navbar.scrolled .nav-item.active .nav-link {
				color: #53d2dc !important;
			}

			/* css l drop down mta se connecter */
			.dropdown-menu {
				min-width: 200px;
				border: none;
				background: white;
			}

			.dropdown-item {
				padding: 10px 15px;
				transition: background 0.3s ease;
				font-size: 15px;
			}

			.dropdown-item i {
				font-size: 15px;
				width: 30px;
				text-align: center;

			}

			.dropdown-item:hover {
				background: #f8f9fa;
				color: #53d2dc !important
			}
			.ml-2 {
				color: black !important
			}
			.icons {
				background-color: #53d2dc !important;

			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container">
				<img class="img" src="{{asset('admin/img/logo.png')}}" href=" {{ path('app_index') }} "/>
				<button class=" navbar-toggler" type=" button" data-toggle=" collapse" data-target=" #ftco-nav" aria-controls=" ftco-nav" aria-expanded=" false" aria-label=" toggle navigation">
					<span class="oi oi-menu"></span>
					Menu
				</button>

				<div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a href="{{ path('app_index') }}" class="nav-link">Accueil</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_boutique') }}" class="nav-link">Boutique</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_activite_index') }}" class="nav-link">Découvrir</a>
						</li>
						<li class="nav-item">
							<a href="{{path('app_reclamation_mes')}}" class="nav-link">Réclamations</a>
						</li>
						<li class="nav-item">
							<a href="{{path('list_publications')}}" class="nav-link">Publications</a>
						</li>


					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i style="font-size:30px" class="fa fa-user-circle"></i>
						</a>
						<div
							class="dropdown-menu dropdown-menu-right shadow-lg p-2 rounded" aria-labelledby="loginDropdown">{#{% if userId is not null %}
																																								<a class="dropdown-item d-flex align-items-center" href="{{ path('moncompte', {'id': userId}) }}">
																																									<i class="fa fa-user text-primary"></i>
																																									<span class="ml-2">👤
																																										{{ nom }}
																																										{{ prenom }}</span>
																																								</a>
																																								<a class="dropdown-item" href="{{ path('app_logout_front') }}">
																																									<i class="fas fa-sign-out-alt"></i>
																																									<span class="ml-2">Se déconnecter</span>
																																								</a>
																																							{% else %}
																																								<a class="dropdown-item d-flex align-items-center" href="{{ path('app_login_front') }}">
																																									<i class="fas fa-user"></i>
																																									<span class="ml-2">Se connecter</span>
																																								</a>
																																
																																								<a class="dropdown-item d-flex align-items-center font-weight-bold text-success" href="{{ path('app_inscription') }}">
																																									<i class="fa fa-user-plus"></i>
																																									<span class="ml-2">Devenez-Prestataire</span>
																																								</a>
																																								<a class="dropdown-item d-flex align-items-center font-weight-bold text-success" href="{{ path('app_inscription_front') }}">
																																									<i class="fa fa-user-plus"></i>
																																									<span class="ml-2">Créer un compte</span>
																																								</a>
																																
																																
																																							{% endif %}
																																#}
						</div>
					</li>

				</ul>
			</div>
		</body>
	</body>
</html></div></body></html></nav><!-- END nav --><div class="hero-wrap js-fullheight" style="background-image: url('{{ asset('client/images/background33.jpg') }}');"><div class="overlay"></div><div class="container"><div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true"><div class="col-md-7 ftco-animate">
<span class="subheading">Bienvenue sur TunisSight</span>
<h1 class="mb-4">Découvrez les meilleurs endroits avec nous</h1>
<p class="caps">Voyagez à travers les coins les plus beaux de la Tunisie, sans perdre votre chemin</p></div></div></div></div>{% block listActivites %}{% endblock %}<footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image:<section class=" ftco-section img ftco-select-destination" style=" background-image: url('{{ asset('client/images/bg_3.jpg') }}');">;"><div class="container"><div class="row mb-5"><div class="col-md pt-5">
<div class="ftco-footer-widget pt-md-5 mb-4">
	<h2 class="ftco-heading-2">À propos de Tunisight</h2>
	<p>Bienvenue sur Tunisight, votre plateforme de réservation touristique en Tunisie. Découvrez les trésors cachés du pays, des plages paradisiaques aux sites historiques fascinants.</p>
	<ul class="ftco-footer-social list-unstyled float-md-left float-lft">
		<li class="ftco-animate">
			<a href="#" class="icons">
				<span class="fa fa-twitter"></span>
			</a>
		</li>
		<li class="ftco-animate">
			<a href="#" class="icons">
				<span class="fa fa-facebook"></span>
			</a>
		</li>
		<li class="ftco-animate">
			<a href="#" class="icons">
				<span class="fa fa-instagram"></span>
			</a>
		</li>
	</ul>
</div></div><div class="col-md pt-5 border-left">
<div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
	<h2 class="ftco-heading-2">Informations</h2>
	<ul class="list-unstyled">

		<li>
			<a href="#" class="py-2 d-block">Questions générales</a>
		</li>
		<li>
			<a href="#" class="py-2 d-block">Politique de confidentialité</a>
		</li>
		<li>
			<a href="#" class="py-2 d-block">Contactez-nous
			</a>
		</li>

	</ul>
</div></div><div class="col-md pt-5 border-left">
<div class="ftco-footer-widget pt-md-5 mb-4">
	<h2 class="ftco-heading-2">Experience</h2>
	<ul class="list-unstyled">
		<li>
			<a href="#" class="py-2 d-block">Aventure</a>
		</li>
		<li>
			<a href="#" class="py-2 d-block">Nature</a>
		</li>

		<li>
			<a href="#" class="py-2 d-block">Camping</a>
		</li>

	</ul>
</div></div><div class="col-md pt-5 border-left">
<div class="ftco-footer-widget pt-md-5 mb-4">
	<h2 class="ftco-heading-2">Vous avez une question ?</h2>
	<div class="block-23 mb-3">
		<ul>
			<li>
				<span class="icon fa fa-map-marker" style="color: #53d2dc !important"></span>
				<span class="text">Tunis, Tunisie</span>
			</li>
			<li>
				<a href="#">
					<span class="icon fa fa-phone" style="color: #53d2dc !important"></span>
					<span class="text">+216 71 100 750</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon fa fa-paper-plane" style="color: #53d2dc !important"></span>
					<span class="text">contact@tunisight.com</span>
				</a>
			</li>
		</ul>
	</div>
</div></div></div><div class="row"><div class="col-md-12 text-center">

<p>
	Copyright  &copy;<script>
		document.write(new Date().getFullYear());
	</script>
	Tunisight . Tous droits réservés.
	<i class="fa fa-heart" aria-hidden="true"></i>

</p></div></div></div></footer>{% block js %}<script src="{{asset('client/js/jquery.min.js')}}"></script><script src="{{asset('client/js/jquery-migrate-3.0.1.min.js')}}"></script><script src="{{asset('client/js/popper.min.js')}}"></script><script src="{{asset('client/js/bootstrap.min.js')}}"></script><script src="{{asset('client/js/jquery.easing.1.3.js')}}"></script><script src="{{asset('client/js/jquery.waypoints.min.js')}}"></script><script src="{{asset('client/js/jquery.stellar.min.js')}}"></script><script src="{{asset('client/js/owl.carousel.min.js')}}"></script><script src="{{asset('client/js/jquery.magnific-popup.min.js')}}"></script><script src="{{asset('client/js/jquery.animateNumber.min.js')}}"></script><script src="{{asset('client/js/bootstrap-datepicker.js')}}"></script><script src="{{asset('client/js/scrollax.min.js')}}"></script><script src="{{asset('client/js/main.js')}}"></script>{% endblock%}</body>{% block javascript %}<script>window.addEventListener('scroll', function () {
var navbar = document.getElementById('ftco-navbar');
if (window.scrollY > 50) {
navbar.classList.add('scrolled');
} else {
navbar.classList.remove('scrolled');
}
});</script>{% endblock %}<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></body></html>
